@import "../../Styles/App.scss";

.status {
    display: grid;
    row-gap: 10px;
    
    .option__status {
        display: flex;
        background: #D3DDE9;
        column-gap: 10px;
        padding: .5rem;
        border-radius: 1rem;
        
        button {
            @include btnStyle;
            background: none;
            font-size:1rem;
            font-weight: 600;
            padding: .5rem;
            border-radius: .5rem;
            transition: .4s ease-in-out;
            
            &:hover {
                background: #FFFF;
            }
        }
    }

    
    
    .bill__status {
        display: grid;
        row-gap: 10px;
        transition: .4s ease-in-out;
        .status__container {
            border-radius: 1rem;
            background: #D3DDE9;
            padding: .5rem;
    
            .status {
                display: block;
                width: 100%;
                height: 305px;
                max-height: 305px;
                overflow-y: scroll;
                
                &::-webkit-scrollbar {
                    width: 1px;
                    display: absolute;
                    // overflow: hidden;
                }
                
                li {
                    display: flex;
                    border-radius: .5rem;
                    padding: .5rem;
                    background: #B7C7D9;
                    justify-content: space-between;
                    justify-items: center;
                    margin-bottom: 10px;
    
                    .icon__text {
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        img {
                            width: 30px;
                        }
                    }
                    
                    span {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        i {
                            cursor: pointer;
                            font-size:1.5rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .expense__status {
        display: grid;
        row-gap: 10px;
        .status__container {
            border-radius: 1rem;
            background: #D3DDE9;
            padding: .5rem;
    
            .status {
                display: block;
                width: 100%;
                height: 305px;
                max-height: 305px;
                overflow-y: scroll;
                
                &::-webkit-scrollbar {
                    width: 1px;
                    display: absolute;
                    // overflow: hidden;
                }
                
                li {
                    display: flex;
                    border-radius: .5rem;
                    padding: .5rem;
                    background: #B7C7D9;
                    justify-content: space-between;
                    justify-items: center;
                    margin-bottom: 10px;
    
                    .icon__text {
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        img {
                            width: 30px;
                        }
                    }
                    
                    span {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        i {
                            cursor: pointer;
                            font-size:1.5rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    
    .total__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #D3DDE9;
        border-radius: 1rem;
        padding: 1rem;

        .total__text {
            font-size: 1rem;
        }

        .total {
            font-size: 2rem;
        }
    }
}